<!-- <button (click)="signin()">Press here</button> -->
<div class="container">
    <div>
        <h1>Sign in here</h1>
        <button (click)="signin()">Press here to signin with your gmail

        </button>
    </div>
    <div>
        <button (click)="createChannel()">
            createChannel
        </button>
    </div>
    <div>
        <button (click)="showChannel()">
            Show Channel
        </button>
    </div>
    <div>
        <button (click)="createUser()">
            createUser
        </button>
    </div>
    <div>
        <button (click)="JoinAChannel()">
            join a channel
        </button>
    </div>
    <div>
        ENTER HERE : <input type="text" [(ngModel)]="message">
    </div>
    <div>
        <button (click)="sendMessage()">Send</button>
    </div>
</div>